<h1>Index Page Papus!</h1>
<p> Ember is cool </p>

{{#link-to 'page1'}} 
<button> page1 </button> 
{{/link-to}}

{{#link-to 'page2'}} 
<button> page2 </button> 
{{/link-to}}

{{#link-to 'page3'}} 
<button> page3 </button> 
{{/link-to}}


<button {{action 'clickMeToPage1'}}> Go page1! </button>

<button {{action 'clickMeToPage2'}}> Go page2! </button>

<button {{action 'clickMeToPage3'}}> Go page3! </button>
