<h1> Welcome to my first page  </h1>
<p> Hi, this is a test project to understand the basics of ember</p>

<h3> Usernames</h3>

{{#each model as |username|}}
<br> Username <b> {{username}} </b>
{{/each}}

<p> Go to other sections </p>
<div>
{{#link-to 'page1.section1'}} <button> Go Section1 </button> {{/link-to}}

{{#link-to 'page1.section2'}} <button> Go Section2 </button>{{/link-to}}

</div>


{{outlet}}